.container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 10px;
}

.container > * {
    padding-left: 50px;
    padding-right: 50px;
}

.fruit-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 20px;
    row-gap: 15px;
}

.detail-card > div {
    margin-bottom: 20px;
}
