.navbar {
    display: flex;
    align-items: center;
    background-color: #9B4720;
    height: 100px;
    justify-content: center;
    font-family: 'Big Shoulders Display';
    border-bottom: solid 2px;
}

#logo {
    width: 200px;
    margin-right: -2.5rem;
}

.navbar > h1 {
    font-weight: 600;
    font-size: 60px;
    color: #AD9230;
}